.info{
    padding: 10px;
    padding-right: 10px;
    width: auto;
    min-width: 220px;
    height: 250px;
    overflow: auto !important;
    word-break: keep-all;
}

.info__table{
    font-size: 10px;
    margin-bottom: 5px;
}

.info__table th{
    background: #f4f4f4;
    vertical-align: middle;
}

.info__table th,
.info__table td{
    padding: 2px;
    text-align: center;
}

.info__time{
    font-size: 10px;
}

.info__findroad i{
    font-size: 13px;
    vertical-align: middle;
}