.info{
    padding: 10px;
    padding-right: 10px;
    width: auto;
    min-width: 220px;
    height: 250px;
    overflow: auto !important;
    word-break: keep-all;
}

.info-table{
    font-size: 14px;
}

.info__table{
    font-size: 10px;
    margin-bottom: 5px;
}

.info__table th{
    background: #f4f4f4;
    vertical-align: middle;
}

.info__table th,
.info__table td{
    padding: 2px;
    text-align: center;
}

.info__time{
    font-size: 10px;
}

.info__findroad i{
    font-size: 13px;
    vertical-align: middle;
}

.map_wrap{
    position: relative;
}

.btn-current-position{
    position: absolute;
    right: 3px;
    bottom: 3px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 100;
}

.dataTables_length{
    text-align: left !important;
    margin-bottom: 10px;
}
.dataTables_filter{
    text-align: right !important;
}

.dataTables_info{
    display: none;
}

@media(max-width: 560px){
    .info-table,
    .pagination{
        font-size: 12px;
    }
}